<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form>
     <table>
         <tr>
             <td>ip地址：</td>
             <td><input type="text" placeholder="ip" /></td>
         </tr>
         <tr>
         </tr>
         <tr>
             <td>端口号：</td>
             <td><input type="text" placeholder="ip" /></td>
         </tr>
         <tr>
         </tr>
     </table>
     <input type="button" value="测试">
 </form>
</body>
</html>