<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<body>
 <form id="testForm" action="/testDb">
     <table>
         <tr>
             <td>ip地址：</td>
             <td><input type="text" id="dbIp" name="dbIp" placeholder="ip" /></td>
         </tr>
         <tr>
             <td>端口号：</td>
             <td><input type="text" id="dbPort"  name="dbPort" placeholder="port" /></td>
         </tr>
         <tr>
             <td>数据库名称：</td>
             <td><input type="text" id="dbName" name="dbName" placeholder="数据库名称" /></td>
         </tr>
         <tr>
             <td>用户名：</td>
             <td><input type="text" id="username" name="username" placeholder="用户名" /></td>
         </tr>
         <tr>
             <td>密码：</td>
             <td><input type="text" id="password" name="password" placeholder="密码" /></td>
         </tr>
     </table>
     <input id="test" type="button" value="测试">
 </form>
<hr />
 <form id="codeForm" action="/testDb">
     <table>
         <tr>
             <td>entity层路径：</td>
             <td><input type="text" class="mvcpath entity"  name="entity" placeholder="com.autocode.entity" /></td>
         </tr>
         <tr>
             <td>dao层路径：</td>
             <td><input type="text"   class="mvcpath dao" name="dao" placeholder="com.autocode.dao" /></td>
         </tr>
         <tr>
             <td>service层路径：</td>
             <td><input type="text" class="mvcpath service" name="service" placeholder="com.autocode.service" /></td>
         </tr>
         <tr>
             <td>impl层路径：</td>
             <td><input type="text"  class="mvcpath impl" name="impl" placeholder="com.autocode.service.impl" /></td>
         </tr>
         <tr>
             <td>controller层路径：</td>
             <td><input type="text"  class="mvcpath controller" name="controller" placeholder="com.autocode.controller" /></td>
         </tr>
         <tr>
             <td>代码生成路径：</td>
             <td><input type="text"   name="path" placeholder="F:\auto" /></td>
         </tr>
     </table>
     <input id="autocode" type="button" value="生成代码">
 </form>
</body>
</html>
<script type="text/javascript">

 $("#test").on("click",function(){
    var formData = {};
    var t = $('#testForm').serializeArray();
    $.each(t, function() {
      formData[this.name] = this.value;
    });
     $.ajax({
			url : "/testDb" ,
			type : 'POST',
			data: formData,
			cache: false,
			dataType:"json",
			success : function(data) {
                var success=data.success;
                if(success){
                    alert("数据库连接正常。");
                }else{
                    alert(data.message);
                }
			},
			error:function(data){

			}
		});
 })
 $("#autocode").on("click",function(){
     var formData = {};
     var t = $('#codeForm').serializeArray();
     $.each(t, function() {
         formData[this.name] = this.value;
     });
     $.ajax({
         url : "/run" ,
         type : 'POST',
         data: formData,
         cache: false,
         dataType:"json",
         success : function(data) {
             var success=data.success;
             if(success){
                 alert("代码生成成功。");
             }else{
                 alert(data.message);
             }
         },
         error:function(data){

         }
     });
 });
 $(".entity").on("change",function(){
     var $THIS = $(this);
     var entity = $THIS.val();
     var lastIndexOf = entity.lastIndexOf(".");
     var s = entity.substring(0,lastIndexOf);
     $(".dao").val(s+".dao");
     $(".service").val(s+".service");
     $(".impl").val(s+".service.impl");
     $(".controller").val(s+".controller");
 });


</script>